.App {
  max-width: 880px;
  margin: 0 auto;
}

.App-header h1 {
  color: lightgray;
  text-align: center;
  margin: 20px;
}

.App-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: lightskyblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px;
  padding: 10px 20px;
}

.container-btn {
  padding: 20px;
  text-align: center;
}

.container-btn button {
  margin: 0 auto;
}

textarea {
  margin: 20px 0;
  width: 100%;
}